.glyphicon {
    font-size: 14px;
}

.text-container > div {
    position: relative;
}
blockquote.admin > .glyphicon {
    position: absolute;
    top: 10px;
    right: 20px;
}
div.admin .glyphicon {
    position: absolute;
    top: 0;
    right: 0;
}
#quote {
    display: inline-block;
}

textarea {
	border-style: solid;
	border-color: #B6B6B3;
	border-radius: 2px;
	padding: 0;
	resize: none;
    width: 100%;
}
textarea:focus {
	border-color: #5cb3fd;
}
input {
    width: 79%;
}
