.info-container {
    display: flex;
    justify-content: center;
}
#contact-info {
    font-family: Museo-Slab;
    background-color: transparent;
}
#contact-info h2 {
    font-weight: bold;
}
#contact-info h2 {
    padding-bottom: .5em;
}
#contact-info h3 {
    padding-bottom: 1.2em;
}
@media (max-width: 767px) {
    #contact-info {
        text-align: center;
    }
}

.form-group {
    margin-bottom: 5px;
}
.form-input {
    background-color: black;
    color: white;

    border-radius: 0px;
}
textarea {
    resize: none;
}
input[type="submit"] {
    background-color: black;
    border-radius: 0px;
    float: right;
}

.errorlist {
    color: red;
}
